<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('templates/file') %>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">后台管理系统</a>
        <span class="text-white  d-flex align-items-center ml-5 pl-5">欢迎你,<%= username %></span>
        <a class="navbar-toggler" href='/users/logout'>
          退出
        </a>
    </nav>
    <script>

    </script>
</body>
</html>